.taf-intro{width:160px;padding-right:25px;text-align:right;}
    .taf-intro p{color:#2a5660;text-align:right;font-weight:bold;margin:0;font-size:0.75em}
    
.tafForm{float:left;width:286px;} 
    .tafForm p{margin:5px 0;font-size:0.875em;color:#89a0b1;text-transform:uppercase;font-weight:bold;}  
    .FriendNameTextBox, .FriendsEmailTextBox, .SenderNameTextBox, .SenderEmailTextBox{height:30px;background:#eef2f5;border:none;width:280px;padding:5px;color:#385686;font-size:1.6em;}

.taf-progress-icon{background:url(images/progress.gif) no-repeat;height:32px;width:32px;}

#simplemodal-overlay{background-color:#000;}
#simplemodal-container a.modalCloseImg {background:url(Images/x.png) no-repeat; width:34px;height:34px;display:inline;z-index:3200;position:absolute;top:-18px;right:3px;cursor:pointer;}
#simplemodal-container{background-color:#fff;border:solid 1px black;height:250px;width:500px;left:0px;position:relative;overflow:visible;}